<ag-collapse class="panel-info"
    no-chevron
    conditionals="{{ {edit: inEdit, delete: false} }}">
    <collapse-header>
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-lock"></span>

            HTTP Basic Settings

            <div class="btn-group pull-right">
                <button
                    type="button" title="Cancel" class="btn btn-sm btn-default"
                    collapse-flag flags="{edit: false}"  click="cancelEdit"
                    collapse-button criteria="{delete: false, edit: true}">
                    Cancel
                </button>

                <button 
                    type="button" class="btn btn-sm btn-success" title="Edit settings"
                    collapse-flag flags="{edit: true}" click="startEdit"
                    collapse-button criteria="{delete: false, edit: false}">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>

                <button type="button" class="btn btn-sm btn-danger" title="Remove Authentication"
                    collapse-flag flags="{delete: true}"
                    collapse-button criteria="{delete: false}">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </h4>

        <div class="clearfix"></div>

        <div collapse-show criteria="{delete: true}" class="panel panel-danger hide">
            <div class="panel-heading"><h4 class="panel-title">Remove Authentication</h4></div>
            <div class="panel-body">
                <form ng-submit="removeAuthentication()">
                    <p>Are you sure you want to remove authentication?</p>

                    <div class="btn-group pull-right">
                        <button collapse-flag flags="{delete: false}" type="button" class="btn btn-sm btn-default">Cancel</button>
                        <button type="submit" class="btn btn-sm btn-danger">Yes</button>
                    </div>
                </form>
            </div>
        </div>
    </collapse-header>

    <collapse-body>
        <table collapse-show criteria="{edit: false}" class="table table-striped">
            <tr>
                <td>Realm</td>
                <td>{{httpBasic.realm}}</td>
            </tr>

            <tr>
                <td>htpasswd Location</td>
                <td>{{httpBasic.htpasswd}}</td>
            </tr>
        </table>

        <div collapse-show criteria="{edit: true}">
            <div class="panel-body"><form class="form" ng-submit="updateHttpBasicAuthentication()" ag-form>
                <fieldset>
                    <div class="form-group">
                        <label class="control-label" for="realm">Authentication Realm</label>
                        <input type="text" placeholder="api" class="form-control input-xlarge" required="required" ng-model="httpBasic.realm">
                        <p class="help-block">The Authentication Realm for the HTTP Basic Authentication</p>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="htpasswd">Location of htpasswd file</label>
                        <input type="text" placeholder="data/htpasswd" class="form-control input-xlarge" required="required" ng-model="httpBasic.htpasswd">
                        <p class="help-block">Location on the filesystem of the htpasswd file</p>
                    </div>
                </fieldset>

                <div class="btn-group pull-right">
                    <button
                        type="button" title="Cancel" class="btn btn-sm btn-default"
                        collapse-flag flags="{edit: false}" click="cancelEdit">Cancel</button>
                    <button type="submit" title="Save" class="btn btn-sm btn-success">Save</button>
                </div>

                <div class="clearfix"></div>
            </form></div>
        </div>
    </collapse-body>
</ag-collapse>

