<div ng-show="showAuthenticationSetup()">
    <div class="panel">
        <p>
        There is currently NO Authentication. Select <b>ONE</b> of the
        authentication methods below for your application:
        </p>
    
        <div class="btn-group">
            <button ng-click="showHttpBasicAuthenticationForm = true" class="btn btn-sm btn-primary" title="HTTP Basic">
                HTTP Basic
            </button>

            <button ng-click="showHttpDigestAuthenticationForm = true" class="btn btn-sm btn-primary" title="HTTP Digest">
                HTTP Digest
            </button>

            <button ng-click="showOAuth2AuthenticationForm = true" class="btn btn-sm btn-primary" title="OAuth2">
                OAuth2
            </button>
        </div>
    </div>

    <p><a href="https://apigility.org/documentation/auth/authentication-about" target="_blank">
        <i class="glyphicon glyphicon-info-sign"></i> More Information
    </a></p>
</div>

<ag-conditional-include condition="showHttpBasicAuthenticationForm"
    src="html/settings/authentication/new-http-basic.html"></ag-conditional-include>

<ag-conditional-include condition="showHttpBasicAuthentication"
    src="html/settings/authentication/http-basic.html"></ag-conditional-include>

<ag-conditional-include condition="showHttpDigestAuthenticationForm"
    src="html/settings/authentication/new-http-digest.html"></ag-conditional-include>

<ag-conditional-include condition="showHttpDigestAuthentication"
    src="html/settings/authentication/http-digest.html"></ag-conditional-include>

<ag-conditional-include condition="showOAuth2AuthenticationForm"
    src="html/settings/authentication/new-oauth2.html"></ag-conditional-include>

<ag-conditional-include condition="showOAuth2Authentication"
    src="html/settings/authentication/oauth2.html"></ag-conditional-include>

