<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Setup HTTP Basic Authentication</h4>
    </div>

    <div class="panel-body">
        <form class="form" ng-submit="createHttpBasicAuthentication()" ag-form>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="realm">Authentication Realm</label>
                    <input type="text" placeholder="api" class="form-control input-xlarge" required="required" ng-model="realm">
                    <p class="help-block">The Authentication Realm for the HTTP Basic Authentication</p>
                </div>

                <div class="form-group">
                    <label class="control-label" for="htpasswd">Location of htpasswd file</label>
                    <input type="text" placeholder="data/htpasswd" class="form-control input-xlarge" required="required" ng-model="htpasswd">
                    <p class="help-block">Location on the filesystem of the htpasswd file</p>
                </div>
            </fieldset>

            <div class="btn-group pull-right">
                <button class="btn btn-sm btn-default" type="button" ng-click="resetForm()">Cancel</button>
                <button class="btn btn-sm btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

