<div class="well">
    <fieldset>

      <!-- Form Name -->
      <legend>Database Configuration Values</legend>

      <!-- Select Basic -->
      <div class="control-group">
	<label class="control-label" for="driver">Driver</label>
	<div class="controls">
	  <select id="driver" ng-model="db.driver" class="input-xlarge">
	    <option>Mysqli</option>
	    <option>PDO: Mysql</option>
	    <option>PDO: Postgres</option>
	  </select>
	</div>
      </div>

      <!-- Text input-->
      <div class="control-group">
	<label class="control-label" for="database">Database / Schema</label>
	<div class="controls">
	  <input id="database" ng-model="db.database" placeholder="Database / Schema" class="input-xlarge" required="" type="text">

	</div>
      </div>

      <!-- Text input-->
      <div class="control-group">
	<label class="control-label" for="username">Username</label>
	<div class="controls">
	  <input id="username" ng-model="db.username" placeholder="(optional)" class="input-xlarge" required="" type="text">

	</div>
      </div>

      <!-- Text input-->
      <div class="control-group">
	<label class="control-label" for="password">Password</label>
	<div class="controls">
	  <input id="password" ng-model="db.password" placeholder="(optional)" class="input-xlarge" type="text">

	</div>
      </div>

      <!-- Text input-->
      <div class="control-group">
	<label class="control-label" for="hostname">Hostname</label>
	<div class="controls">
	  <input id="hostname" ng-model="db.hostname" placeholder="(optional)" class="input-xlarge" type="text">

	</div>
      </div>

      <!-- Button -->
      <div class="control-group">
	<label class="control-label" for="singlebutton"></label>
	<div class="controls">
	  <button id="singlebutton" ng-click="doSubmit()" class="btn btn-primary">Setup Database</button>
	</div>
      </div>

    </fieldset>
</div>
