<div class="zfa1-header" id="content">
  <div class="container">
    <h1>Dashboard</h1>
    <p>Global system configuration and configuration to be applied to all modules.</p>
  </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-3">
      <aside class="zfa1-sidebar" role="complementary">
	<ul class="nav zfa1-sidenav">
	  <li>
	    <a href="#">General Information</a>
	  </li>
	  <li>
	    <a href="#">Media Types</a>
	  </li>
	  <li>
	    <a href="#">Authentication</a>
	  </li>
	  <li>
	    <a href="#">phpinfo()</a>
	  </li>
	  <li>
	    <a href="#">ZF2 Information</a>
	  </li>
	</ul>
      </aside>
    </div>
    <main class="col-md-9" role="main">

      <h1>General Information</h1>

      <p>2 API First Enabled Modules</p>

      <p>10 ZF2 Modules</p>

    </main>
  </div>
</div>