<div class="well">
    <form class="form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <legend>Resource Creation: Step 1</legend>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="name">Resource Name</label>
      <div class="controls">
        <input id="name" name="name" placeholder="Give this resource a name" class="input-xlarge" required="" type="text">
        <p class="help-block">machine-readable: [\w\d-_] allowed</p>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="control-group">
      <label class="control-label" for="type">Type</label>
      <div class="controls">
        <select id="type" name="type" class="input-xlarge">
          <option>Code Connected Resource</option>
          <option>Database Connected Resource</option>
           <option>MongoDB Connected Resource</option>
        </select>
      </div>
    </div>

    <!-- Button -->
    <div class="control-group">
      <label class="control-label" for="singlebutton"></label>
      <div class="controls">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Go To Next Step</button>
      </div>
    </div>

    </fieldset>
    </form>
</div>