<div class="wizard">
    <a><span class="badge">1</span>Setup</a>
    <a><span class="badge">2</span>Db/Code API</a>
	 <a><span class="badge">3</span>Resources</a>
    <a class="current"><span class="current badge badge-inverse">4</span>Authentication</a>
    <a><span class="badge">5</span>Filter & Validation</a>
	 <a><span class="badge">6</span>Package</a>
</div>

<div class="well">
    <form class="form-horizontal" ng-submit="step4()">
    <fieldset>

    <!-- Form Name -->
    <legend>
    Authentication
	 <!-- Configuration -->
	 	<div style="font-size:13px;float:right">
            <a href="#myConfiguration" ng-click="loadConfiguration()" class="btn btn-primary btn-lg" data-toggle="modal"><span class="glyphicon glyphicon-wrench"></span> Configuration</a>
	 	</div>  
    </legend>

	 <!-- Modal window (configuration) -->
     <div class="modal fade" id="myConfiguration">
         <div class="modal-dialog">
            <div class="modal-content"> 
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Configuration</h2>
                </div>
                <div class="modal-body">
                    <div
      			        data-angular-treeview="true"
      			        data-tree-model="tree"
      			        data-node-id="id"
      			        data-node-label="name"
      			        data-node-children="child"
      			        data-node-icon="icon" >
    			    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
     </div>

    <div class="control-group">
      <label class="control-label" for="selectbasic">Auth method</label>
      <div class="controls">
        <select id="selectbasic" name="selectbasic" class="input-xlarge">
          <option>HTTP Basic</option>
          <option>HTTP Digest</option>
          <option>HTTP Token</option>
        </select>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="selectbasic">User table</label>
      <div class="controls">
        <select id="userTable" name="userTable" class="input-xlarge" ng-model="options">
          <option>Default (SQLite)</option>
          <option>External DB</option>
        </select>
      </div>
    </div>
 
    <div class="control-group">
        <div ng-show="{{options}} == 'External DB'">Config params</div>
    </div>

    <!-- Previous & Next -->
    <div class="control-group">
      <div class="controls" style="float:right">
        <a href="#/step3" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Previous</a>
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
    </div>
    </fieldset>
    </form>
</div>
