composer.lock
test/Model/TestAsset/module/FooConf/config/module.config.php
test/Model/TestAsset/module/BarConf/config/module.config.php
test/Model/TestAsset/module/AuthConf/config/module.config.php
test/Model/TestAsset/module/AuthConfDefaults/config/module.config.php
test/Model/TestAsset/module/AuthConfWithConfig/config/module.config.php
vendor/*
!vendor/Test
.project
.buildpath
.settings
.idea
