composer.lock
test/Model/TestAsset/module/FooConf/config/module.config.php
test/Model/TestAsset/module/BarConf/config/module.config.php
test/Model/TestAsset/module/AuthConf/config/module.config.php
test/Model/TestAsset/module/AuthConfDefaults/config/module.config.php
test/Model/TestAsset/module/AuthConfWithConfig/config/module.config.php
vendor/autoload.php
vendor/bin/
vendor/bshaffer/
vendor/composer/
vendor/fabpot/
vendor/guzzle/
vendor/kriswallsmith/
vendor/phpunit/
vendor/psr/
vendor/rwoverdijk/
vendor/satooshi/
vendor/sebastian/
vendor/symfony/
vendor/zendframework/
vendor/zfcampus/
.project
.buildpath
.settings
