language: php
php:
  - 5.4
  - 5.5

before_script:
  - composer self-update
  - composer update --prefer-source; composer install --dev --prefer-source;

script:
  - ./vendor/bin/phpunit -c ./test --coverage-clover ./build/logs/clover.xml
  - ./vendor/bin/phpcs --standard=PSR2 ./src/ ./test/
  
after_script:
  - php vendor/bin/coveralls -v

notifications:
  irc: "irc.freenode.org#apigility-dev"
  email: false