<?php
return [
    'Version\\V1\\Rest\\Message\\Controller' => [
        'collection' => [
            'GET' => [
                'description' => 'Description of GET for collection',
                'response' => '{}',
            ],
            'description' => 'Description of collection',
        ],
        'entity' => [
            'GET' => [
                'description' => 'description of GET for entity',
                'response' => '{}',
            ],
            'description' => 'Description of entity',
        ],
    ],
    'Version\\V1\\Rest\\Comment\\Controller' => [
        'collection' => [
            'GET' => [
                'description' => 'Description of GET for collection',
                'response' => '{}',
            ],
            'description' => 'Description of collection',
        ],
        'entity' => [
            'GET' => [
                'description' => 'description of GET for entity',
                'response' => '{}',
            ],
            'description' => 'Description of entity',
        ],
    ],
];
