<?php
return  [
    'router' => [
        'routes' => [
            'version.rest.message' => [
                'type' => 'Segment',
                'options' => [
                    'route' => '/api/message[/:message_id]',
                    'defaults' => [
                        'controller' => 'Version\\V1\\Rest\\Message\\Controller',
                    ],
                ],
            ],
            'version.rest.comment' => [
                'type' => 'Segment',
                'options' => [
                    'route' => '/api/comment[/:comment_id]',
                    'defaults' => [
                        'controller' => 'Version\\V1\\Rest\\Comment\\Controller',
                    ],
                ],
            ],
            'version.rpc.ping' => [
                'type' => 'Segment',
                'options' => [
                    'route' => '/api/ping',
                    'defaults' => [
                        'controller' => 'Version\\V1\\Rpc\\Ping\\Controller',
                        'action' => 'ping',
                    ],
                ],
            ],
        ],
    ],
    'input_filter_specs' => [
        'Version\\V1\\Rest\\Message\\Validator' => [
            [
                'name' => 'email',
                'validators' => [
                    ['name' => 'EmailAddress'],
                ],
            ],
            [
                'name' => 'message',
                'validators' => [
                    ['name' => 'NotEmpty'],
                ],
            ]
        ],
    ],
    'zf-content-validation' => [
        'Version\\V1\\Rest\\Message\\Controller' => [
            'input_filter' => 'Version\\V1\\Rest\\Message\\Validator',
        ],
    ],
    'zf-mvc-auth' => [
        'authorization' => [
            'Version\\V1\\Rest\\Message\\Controller::resource' => [
                'GET' => false,
                'POST' => false,
                'PUT' => true,
                'PATCH' => true,
                'DELETE' => true,
            ],
            'Version\\V1\\Rest\\Message\\Controller::collection' => [
                'GET' => false,
                'POST' => true,
                'PUT' => false,
                'PATCH' => false,
                'DELETE' => false,
            ],
            'Version\\V1\\Rest\\Comment\\Controller::resource' => [
                'GET' => false,
                'POST' => false,
                'PUT' => true,
                'PATCH' => true,
                'DELETE' => true,
            ],
            'Version\\V1\\Rest\\Comment\\Controller::collection' => [
                'GET' => false,
                'POST' => true,
                'PUT' => false,
                'PATCH' => false,
                'DELETE' => false,
            ],
        ]
    ],
    'zf-rest' => [
        'Version\\V1\\Rest\\Message\\Controller' => [
            'listener' => 'Version\\V1\\Rest\\Message\\MessageResource',
            'route_name' => 'version.rest.message',
            'route_identifier_name' => 'message_id',
            'collection_name' => 'message',
            'resource_http_methods' => [
                0 => 'GET',
            ],
            'collection_http_methods' => [
                0 => 'GET',
            ],
            'collection_query_whitelist' => [],
            'page_size' => '10',
            'page_size_param' => null,
            'entity_class' => 'Version\\V1\\Rest\\Message\\MessageEntity',
            'collection_class' => 'Version\\V1\\Rest\\Message\\MessageCollection',
        ],
        'Version\\V1\\Rest\\Comment\\Controller' => [
            'listener' => 'Version\\V1\\Rest\\Comment\\CommentResource',
            'route_name' => 'version.rest.comment',
            'route_identifier_name' => 'comment_id',
            'collection_name' => 'comment',
            'resource_http_methods' => [
                0 => 'GET',
            ],
            'collection_http_methods' => [
                0 => 'GET',
            ],
            'collection_query_whitelist' => [],
            'page_size' => 25,
            'page_size_param' => null,
            'entity_class' => 'Version\\V1\\Rest\\Comment\\CommentEntity',
            'collection_class' => 'Version\\V1\\Rest\\Comment\\CommentCollection',
        ],
    ],
    'zf-content-negotiation' => [
        'controllers' => [
            'Version\\V1\\Rest\\Message\\Controller' => 'HalJson',
            'Version\\V1\\Rest\\Comment\\Controller' => 'HalJson',
        ],
        'accept_whitelist' => [
            'Version\\V1\\Rest\\Message\\Controller' => [
                0 => 'application/json',
                1 => 'application/*+json',
            ],
            'Version\\V1\\Rest\\Comment\\Controller' => [
                0 => 'application/json',
                1 => 'application/*+json',
            ],
        ],
        'content_type_whitelist' => [
            'Version\\V1\\Rest\\Message\\Controller' => [
                0 => 'application/json',
            ],
            'Version\\V1\\Rest\\Comment\\Controller' => [
                0 => 'application/json',
            ],
        ],
    ],
    'zf-hal' => [
        'metadata_map' => [
            'Version\\V1\\Rest\\Message\\MessageEntity' => [
                'entity_identifier_name' => 'message_id',
                'route_name' => 'version.rest.message',
                'hydrator' => 'ArraySerializable',
            ],
            'Version\\V1\\Rest\\Message\\MessageCollection' => [
                'entity_identifier_name' => 'message_id',
                'route_name' => 'version.rest.message',
                'is_collection' => true,
            ],
            'Version\\V1\\Rest\\Comment\\CommentEntity' => [
                'entity_identifier_name' => 'comment_id',
                'route_name' => 'version.rest.comment',
                'hydrator' => 'ObjectProperty',
            ],
            'Version\\V1\\Rest\\Comment\\CommentCollection' => [
                'entity_identifier_name' => 'comment_id',
                'route_name' => 'version.rest.comment',
                'is_collection' => true,
            ],
        ],
    ],
    'zf-versioning' => [
        'default_version' => 1,
    ],
    'zf-apigility' => [
        'db-connected' => [
            'Version\\V1\\Rest\\Message\\MessageResource' => [
                'adapter_name' => 'Db\\Version',
                'table_name' => 'message',
                'hydrator_name' => 'ArraySerializable',
                'controller_service_name' => 'Version\\V1\\Rest\\Message\\Controller',
                'table_service' => 'Version\\V1\\Rest\\Message\\MessageResource\\Table',
            ],
        ],
    ],
    'service_manager' => [
        'factories' => [
            'Version\V1\Rest\Comment\Model' => 'Version\V1\Rest\Comment\CommentModelFactory',
            'Version\V1\Rest\Comment\CommentResource' => 'Version\V1\Rest\Comment\CommentResourceFactory',
        ],
    ],
    'controllers' => [
        'invokables' => [
            'Version\V1\Rpc\Ping\Controller' => 'Version\V1\Rpc\Ping\PingController',
        ],
    ],
];
