<?php
return array (
    'router' => array (
        'routes' => array (
            'version.rest.message' => array (
                'type' => 'Segment',
                'options' => array (
                    'route' => '/api/message[/:message_id]',
                    'defaults' => array (
                        'controller' => 'Version\\V1\\Rest\\Message\\Controller',
                    ),
                ),
            ),
            'version.rest.comment' => array (
                'type' => 'Segment',
                'options' => array (
                    'route' => '/api/comment[/:comment_id]',
                    'defaults' => array (
                        'controller' => 'Version\\V1\\Rest\\Comment\\Controller',
                    ),
                ),
            ),
            'version.rpc.ping' => array (
                'type' => 'Segment',
                'options' => array (
                    'route' => '/api/ping',
                    'defaults' => array (
                        'controller' => 'Version\\V1\\Rpc\\Ping\\Controller',
                        'action' => 'ping',
                    ),
                ),
            ),
        ),
    ),
    'input_filter_specs' => array(
        'Version\\V1\\Rest\\Message\\Validator' => array(
            array(
                'name' => 'email',
                'validators' => array(
                    array('name' => 'EmailAddress'),
                ),
            ),
            array(
                'name' => 'message',
                'validators' => array(
                    array('name' => 'NotEmpty'),
                ),
            )
        ),
    ),
    'zf-content-validation' => array(
        'Version\\V1\\Rest\\Message\\Controller' => array(
            'input_filter' => 'Version\\V1\\Rest\\Message\\Validator',
        ),
    ),
    'zf-mvc-auth' => array(
        'authorization' => array(
            'Version\\V1\\Rest\\Message\\Controller::resource' => array(
                'GET' => false,
                'POST' => false,
                'PUT' => true,
                'PATCH' => true,
                'DELETE' => true,
            ),
            'Version\\V1\\Rest\\Message\\Controller::collection' => array(
                'GET' => false,
                'POST' => true,
                'PUT' => false,
                'PATCH' => false,
                'DELETE' => false,
            ),
            'Version\\V1\\Rest\\Comment\\Controller::resource' => array(
                'GET' => false,
                'POST' => false,
                'PUT' => true,
                'PATCH' => true,
                'DELETE' => true,
            ),
            'Version\\V1\\Rest\\Comment\\Controller::collection' => array(
                'GET' => false,
                'POST' => true,
                'PUT' => false,
                'PATCH' => false,
                'DELETE' => false,
            ),
        )
    ),
    'zf-rest' => array (
        'Version\\V1\\Rest\\Message\\Controller' => array (
            'listener' => 'Version\\V1\\Rest\\Message\\MessageResource',
            'route_name' => 'version.rest.message',
            'route_identifier_name' => 'message_id',
            'collection_name' => 'message',
            'resource_http_methods' => array (
                0 => 'GET',
            ),
            'collection_http_methods' => array (
                0 => 'GET',
            ),
            'collection_query_whitelist' => array (),
            'page_size' => '10',
            'page_size_param' => NULL,
            'entity_class' => 'Version\\V1\\Rest\\Message\\MessageEntity',
            'collection_class' => 'Version\\V1\\Rest\\Message\\MessageCollection',
        ),
        'Version\\V1\\Rest\\Comment\\Controller' => array (
            'listener' => 'Version\\V1\\Rest\\Comment\\CommentResource',
            'route_name' => 'version.rest.comment',
            'route_identifier_name' => 'comment_id',
            'collection_name' => 'comment',
            'resource_http_methods' => array (
                0 => 'GET',
            ),
            'collection_http_methods' => array (
                0 => 'GET',
            ),
            'collection_query_whitelist' => array (),
            'page_size' => 25,
            'page_size_param' => NULL,
            'entity_class' => 'Version\\V1\\Rest\\Comment\\CommentEntity',
            'collection_class' => 'Version\\V1\\Rest\\Comment\\CommentCollection',
        ),
    ),
    'zf-content-negotiation' => array (
        'controllers' => array (
            'Version\\V1\\Rest\\Message\\Controller' => 'HalJson',
            'Version\\V1\\Rest\\Comment\\Controller' => 'HalJson',
        ),
        'accept_whitelist' => array (
            'Version\\V1\\Rest\\Message\\Controller' => array (
                0 => 'application/json',
                1 => 'application/*+json',
            ),
            'Version\\V1\\Rest\\Comment\\Controller' => array (
                0 => 'application/json',
                1 => 'application/*+json',
            ),
        ),
        'content_type_whitelist' => array (
            'Version\\V1\\Rest\\Message\\Controller' => array (
                0 => 'application/json',
            ),
            'Version\\V1\\Rest\\Comment\\Controller' => array (
                0 => 'application/json',
            ),
        ),
    ),
    'zf-hal' => array (
        'metadata_map' => array (
            'Version\\V1\\Rest\\Message\\MessageEntity' => array (
                'entity_identifier_name' => 'message_id',
                'route_name' => 'version.rest.message',
                'hydrator' => 'ArraySerializable',
            ),
            'Version\\V1\\Rest\\Message\\MessageCollection' => array (
                'entity_identifier_name' => 'message_id',
                'route_name' => 'version.rest.message',
                'is_collection' => true,
            ),
            'Version\\V1\\Rest\\Comment\\CommentEntity' => array (
                'entity_identifier_name' => 'comment_id',
                'route_name' => 'version.rest.comment',
                'hydrator' => 'ObjectProperty',
            ),
            'Version\\V1\\Rest\\Comment\\CommentCollection' => array (
                'entity_identifier_name' => 'comment_id',
                'route_name' => 'version.rest.comment',
                'is_collection' => true,
            ),
        ),
    ),
    'zf-versioning' => array (
        'default_version' => 1,
    ),
    'zf-apigility' => array (
        'db-connected' => array (
            'Version\\V1\\Rest\\Message\\MessageResource' => array (
                'adapter_name' => 'Db\\Version',
                'table_name' => 'message',
                'hydrator_name' => 'ArraySerializable',
                'controller_service_name' => 'Version\\V1\\Rest\\Message\\Controller',
                'table_service' => 'Version\\V1\\Rest\\Message\\MessageResource\\Table',
            ),
        ),
    ),
    'service_manager' => array (
        'factories' => array(
            'Version\V1\Rest\Comment\Model' => 'Version\V1\Rest\Comment\CommentModelFactory',
            'Version\V1\Rest\Comment\CommentResource' => 'Version\V1\Rest\Comment\CommentResourceFactory',
        ),
    ),
    'controllers' => array(
        'invokables' => array(
            'Version\V1\Rpc\Ping\Controller' => 'Version\V1\Rpc\Ping\PingController',
        ),
    ),
);
