<?php
return array(
    'zf-mvc-auth' => array(
        'authorization' => array(
            'AuthConfWithConfig\V1\Rest\Foo\Controller' => array(
                'entity' => array(
                    'GET' => false,
                    'POST' => false,
                    'PUT' => true,
                    'PATCH' => true,
                    'DELETE' => true,
                ),
                'collection' => array(
                    'GET' => false,
                    'POST' => true,
                    'PUT' => false,
                    'PATCH' => false,
                    'DELETE' => false,
                ),
            ),
            'AuthConfWithConfig\V1\Rest\Bar\Controller' => array(
                'entity' => array(
                    'GET' => false,
                    'POST' => false,
                    'PUT' => true,
                    'PATCH' => true,
                    'DELETE' => true,
                ),
                'collection' => array(
                    'GET' => false,
                    'POST' => true,
                    'PUT' => false,
                    'PATCH' => false,
                    'DELETE' => false,
                ),
            ),
            'AuthConfWithConfig\V1\Rpc\Baz\Controller' => array(
                'actions' => array(
                    'baz' => array(
                        'GET' => true,
                        'POST' => true,
                        'PUT' => false,
                        'PATCH' => false,
                        'DELETE' => false,
                    ),
                ),
            ),
            'AuthConfWithConfig\V1\Rpc\Bat\Controller' => array(
                'actions' => array(
                    'index' => array(
                        'GET' => true,
                        'POST' => false,
                        'PUT' => false,
                        'PATCH' => true,
                        'DELETE' => true,
                    ),
                ),
            ),
        ),
    ),
    'zf-rest' => array(
        'AuthConfWithConfig\V1\Rest\Foo\Controller' => array(),
        'AuthConfWithConfig\V1\Rest\Bar\Controller' => array(),
    ),
    'zf-rpc' => array(
        'AuthConfWithConfig\V1\Rpc\Baz\Controller' => array(
            'route_name' => 'auth-conf.rpc.baz',
        ),
        'AuthConfWithConfig\V1\Rpc\Bat\Controller' => array(
        ),
    ),
    'router' => array(
        'routes' => array(
            'auth-conf.rpc.baz' => array(
                'type' => 'Segment',
                'options' => array(
                    'route' => '/api/baz',
                    'defaults' => array(
                        'controller' => 'AuthConfWithConfig\V1\Rpc\Baz\Controller',
                        'action'     => 'baz',
                    ),
                ),
            ),
        ),
    ),
);
