<div class="wizard">
    <a><span class="badge">1</span>Setup</a>
    <a><span class="badge">2</span>Db/Code API</a>
	 <a><span class="badge">3</span>Resources</a>
    <a><span class="badge">4</span>Authentication</a>
    <a class="current"><span class="current badge badge-inverse">5</span>Filter & Validation</a>
	 <a><span class="badge">6</span>Package</a>
</div>

<div class="well">
    <form class="form-horizontal" ng-submit="step5()">
    <fieldset>

    <!-- Form Name -->
    <legend>
    Filter & Validation
	 <!-- Configuration -->
		<div style="font-size:13px;float:right">
	    <a href="#myConfiguration" ng-click="loadConfiguration()" class="btn btn-primary btn-lg" data-toggle="modal"><span class="glyphicon glyphicon-wrench"></span> Configuration</a>
		</div>
    </legend>

	 <!-- Modal window (configuration) -->
     <div class="modal fade" id="myConfiguration">
	 <div class="modal-dialog">
	    <div class="modal-content">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h2 class="modal-title">Configuration</h2>
		</div>
		<div class="modal-body">
		    <div
				data-angular-treeview="true"
				data-tree-model="tree"
				data-node-id="id"
				data-node-label="name"
				data-node-children="child"
				data-node-icon="icon" >
			    </div>
		</div>
		<div class="modal-footer">
		    <button class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	    </div>
	</div>
     </div>



    <!-- Previous & Next -->
    <div class="control-group">
      <div class="controls" style="float:right">
	<a href="#/step4" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Previous</a>
	<button id="singlebutton" name="singlebutton" class="btn btn-primary">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
    </div>
    </fieldset>
    </form>
</div>
