<div class="wizard">
    <a class="current"><span class="current badge badge-inverse">1</span>Setup</a>
    <a><span class="badge">2</span>Db/Code API</a>
	 <a><span class="badge">3</span>Resources</a>
    <a><span class="badge">4</span>Authentication</a>
    <a><span class="badge">5</span>Filter & Validation</a>
	 <a><span class="badge">6</span>Package</a>
</div>

<div class="well">
    <form class="form-horizontal" ng-submit="step1()">
    <fieldset>

    <!-- Form Name -->
    <legend>Setup
	<!-- Configuration -->
		<div style="font-size:13px;float:right">
	    <a href="#myConfiguration" ng-click="loadConfiguration()" class="btn btn-primary btn-lg" data-toggle="modal"><span class="glyphicon glyphicon-wrench"></span> Configuration</a>
		</div>
	 </legend>

	 <!-- Modal window (configuration) -->
     <div class="modal fade" id="myConfiguration">
	 <div class="modal-dialog">
	    <div class="modal-content">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h2 class="modal-title">Configuration</h2>
		</div>
		<div class="modal-body">
		    <div
				data-angular-treeview="true"
				data-tree-model="tree"
				data-node-id="id"
				data-node-label="name"
				data-node-children="child"
				data-node-icon="icon" >
			    </div>
		</div>
		<div class="modal-footer">
		    <button class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	    </div>
	</div>
     </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Project Name</label>
      <div class="controls">
	<input id="textinput" name="textinput" ngmodel="config.project" placeholder="Project Name" class="input-xlarge" required="" type="text" value="{{config.project}}">

      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Machine Readable Project Name</label>
      <div class="controls">
	<input id="textinput" name="textinput" ngmodel="config.machine" placeholder="Machine Name" class="input-xlarge" required=""  type="text">
	<p class="help-block">only [\w\d-_] allowed</p>
      </div>
    </div>

    <!-- Multiple Checkboxes -->
    <div class="control-group">
      <label class="control-label" for="checkboxes">Development Modules</label>
      <div class="controls">
	<label class="checkbox" for="checkboxes-0">
	  <input name="checkboxes" id="checkboxes-0" value="database" type="checkbox">
	  I want to develop API resources based on RDBMS tables. <span class="text-success">Skill Level: Easy</span> <br>
	  <small>(This option can use existing tables or create new tables.  Versioning is not currently possible in this module.)</small>
	</label>
	<label class="checkbox" for="checkboxes-0">
	  <input name="checkboxes" id="checkboxes-0" value="database" type="checkbox">
	  I want to develop API resources based MongoDB collections. <span class="text-success">Skill Level: Easy</span> <br>
	  <small>(This option can use existing tables or create new tables.  Versioning is not currently possible in this module.)</small>
	</label>
	<label class="checkbox" for="checkboxes-2">
	  <input name="checkboxes" id="checkboxes-2" value="code" type="checkbox">
	  I want to develop the API and write my own code in generated stubs. <span class="text-warning">Skill Level: Medium</span><br>
	  <small>(This option will allow you to develop an API and generate controller stubs for you to fill in.  There is much
	  more flexibility and customization in this module.)</small>
	</label>
	<label class="checkbox" for="checkboxes-3">
	  <input name="checkboxes" id="checkboxes-3" value="I want to explore the test datasource and API" type="checkbox">
	  I want to explore the test datasource and API <span class="text-success">Skill Level: Easy</span>
	</label>
      </div>
    </div>

    <!-- Next -->
    <div class="control-group" style="float:right;margin-top:30px">
      <label class="control-label" for="singlebutton"></label>
      <div class="controls">
	<button id="singlebutton" name="singlebutton" class="btn btn-primary">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
    </div>

    </fieldset>
    </form>
</div>
