<span>
    <span class="form-control-static input-xlarge" ng-click="isFormVisible = true">
        {{ agInputName }}
    </span>

    <form class="form-inline hide">
        <div class="form-group">
            <input 
                type="text" class="form-control input-xlarge"
                ag-on-enter="submit()"
                ng-model="agInputName">
        </div>

        <div class="btn-group">
            <button 
                type="button" class="btn btn-sm btn-default"
                ng-click="resetForm()">
                Cancel
            </button>
            <button type="button" class="btn btn-sm btn-success"
                ng-click="submit()">
                Change field name
            </button>
        </div>
    </form>
</span>
