<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <base href="%BASE_HREF%/" />

    <link rel="icon" type="image/png" href="img/favicon.png" />
    <!-- build:css css/apigility.css -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="vendor/jquery-ui/themes/ui-lightness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="vendor/ng-tags-input/ng-tags-input.css" />
    <link rel="stylesheet" type="text/css" href="vendor/angular-toggle-switch/angular-toggle-switch.css" />
    <link rel="stylesheet" type="text/css" href="vendor/angular-toggle-switch/angular-toggle-switch-bootstrap.css" />
    <!-- endbuild -->

</head>
<body id="ng-app" ng-app="ag-admin" data-api-base-path="%API_BASE%">
    <a class="sr-only" href="#content"> … </a>
    <header class="navbar navbar-inverse navbar-fixed-top primary" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="../apigility/ui" class="navbar-brand">
                    <img src="../zf-apigility/img/ag-logo.png">
                </a>
                
                <button class="navbar-toggle navbar-btn btn" type="button"
                    ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse ag-admin-navbar-collapse" collapse="navCollapsed">
                <ul class="nav navbar-nav">
                    <li ng-class="{active: ('ag.settings' | includedByState)}"><a ui-sref="ag.settings.overview">Settings</a></li>
                    <li ng-class="{active: ('ag.api' | includedByState)}"><a ui-sref="ag.api">APIs</a></li>
                    <li ng-show="'%DOC_URI%'"><a href="%DOC_URI%">API Docs</a></li>
                </ul>
            </div>
        </div>
        </div>
    </header>

    <div class="navbar navbar-default navbar-fixed-top secondary">
        <div ui-view="breadcrumbs" class="container"></div>
    </div>

    <div id="content">
        <div class="container">
            <div ui-view="title"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <aside ui-view="sidebar" class="col-md-3 ag-sidebar" role="complementary"></aside>
            <main ui-view="content" class="ag col-md-9" role="main"></main>
        </div>
    </div>

    <footer>
        <hr>

        <div class="container center-block">
            <p class="pull-left">&copy; 2013 - 2014 by <a href="http://www.zend.com">Zend Technologies</a> Ltd.</p>

            <p class="pull-right align-right">
                Proudly built with <a href="http://framework.zend.com">ZF2</a>;
                get more information at <a href="https://apigility.org">apigility.org</a>.
                <br>
                <a href="https://apigility.org/documentation" target="_blank">
                    <i class="glyphicon glyphicon-arrow-right"></i>
                    <i class="glyphicon glyphicon-book"></i>
                    Documentation
                </a>
            </p>
        </div>

        <div class="clearfix"></div>
    </footer>        
                                                                    
    <div flash-alert="info" active-class="in" class="alert fade fade-out">
        <span class="alert-message">{{flash.message}}</span>
    </div>

    <div flash-alert="success" active-class="in" class="alert fade fade-out">
        <span class="alert-message">{{flash.message}}</span>
    </div>

    <div flash-alert="error" active-class="in" class="alert fade fade-out" duration="0">
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message">{{flash.message}}</span>
    </div>

    <div ng-controller="agCacheModal"></div>
    <div ng-controller="agFsPermsModal"></div>

    <!-- build:js js/vendor-ui.js -->
    <script src="vendor/jquery/jquery.js"></script>
    <script src="vendor/jquery-ui/ui/jquery-ui.js"></script>
    <script src="vendor/select2/select2.js"></script>
    <!-- endbuild -->
    <!-- build:js js/vendor-util.js -->
    <script src="vendor/lodash/dist/lodash.js"></script>
    <!-- endbuild -->
    <!-- build:js js/vendor-angular.js -->
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-ui-bootstrap-bower/ui-bootstrap.js"></script>
    <script src="vendor/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="vendor/angular-flash/dist/angular-flash.js"></script>
    <script src="vendor/angular-ui-sortable/sortable.js"></script>
    <script src="vendor/angular-ui-select2/src/select2.js"></script>
    <script src="vendor/ng-tags-input/ng-tags-input.js"></script>
    <script src="vendor/angular-toggle-switch/angular-toggle-switch.js"></script>
    <!-- endbuild -->
    <!-- build:js js/app.js -->
    <script src="js/ag-admin.js"></script>
    <script src="js/controllers/ag-cache-modal.js"></script>
    <script src="js/controllers/ag-fs-perms-modal.js"></script>
    <script src="js/controllers/api.js"></script>
    <script src="js/controllers/api-authorization.js"></script>
    <script src="js/controllers/api-create.js"></script>
    <script src="js/controllers/api-create-button.js"></script>
    <script src="js/controllers/api-documentation.js"></script>
    <script src="js/controllers/api-overview.js"></script>
    <script src="js/controllers/api-rest-services.js"></script>
    <script src="js/controllers/api-rpc-services.js"></script>
    <script src="js/controllers/api-service-input.js"></script>
    <script src="js/controllers/api-version.js"></script>
    <script src="js/controllers/authentication.js"></script>
    <script src="js/controllers/content-negotiation.js"></script>
    <script src="js/controllers/dashboard.js"></script>
    <script src="js/controllers/db-adapter.js"></script>
    <script src="js/controllers/settings-dashboard.js"></script>
    <script src="js/directives/ag-cancel-edit.js"></script>
    <script src="js/directives/ag-collapse.js"></script>
    <script src="js/directives/ag-comment.js"></script>
    <script src="js/directives/ag-conditional-include.js"></script>
    <script src="js/directives/ag-edit-inplace.js"></script>
    <script src="js/directives/ag-form.js"></script>
    <script src="js/directives/ag-hover.js"></script>
    <script src="js/directives/ag-include.js"></script>
    <script src="js/directives/ag-on-enter.js"></script>
    <script src="js/directives/ag-tabs.js"></script>
    <script src="js/directives/ag-toggle-include.js"></script>
    <script src="js/filters/authorizationservicename.js"></script>
    <script src="js/filters/controllerservicename.js"></script>
    <script src="js/filters/namespaceclassid.js"></script>
    <script src="js/filters/servicename.js"></script>
    <script src="js/services/ag-form-handler.js"></script>
    <script src="js/services/ag-template-injector.js"></script>
    <script src="js/services/api-authorization.js"></script>
    <script src="js/services/api.js"></script>
    <script src="js/services/authentication.js"></script>
    <script src="js/services/cache-enabled.js"></script>
    <script src="js/services/content-negotiation.js"></script>
    <script src="js/services/dashboard.js"></script>
    <script src="js/services/db-adapter.js"></script>
    <script src="js/services/filters.js"></script>
    <script src="js/services/fs-perms.js"></script>
    <script src="js/services/hydrators.js"></script>
    <script src="js/services/settings-dashboard.js"></script>
    <script src="js/services/toggle-selection.js"></script>
    <script src="js/services/validators.js"></script>
    <script src="js/services/hal.js"></script>
    <script src="js/templates.js"></script>
    <!-- endbuild -->
</body>
</html>
