<div ng-hide="showNewDbAdapterForm" class="pull-right">
    <button ng-click="showNewDbAdapterForm = true" class="btn btn-default btn-primary" title="Create New DB Adapter">
        Create New DB Adapter
    </button>
</div>
<div class="clearfix"></div>

<div ng-show="showNewDbAdapterForm" class="panel panel-primary">
    <div class="panel-heading"><h4 class="panel-title">Create a New DB Adapter</h4></div>

    <div class="panel-body">
        <form ng-submit="createNewDbAdapter()" ag-form>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="adapterName">Adapter Name</label>
                    <div class="controls">
                        <input type="text" placeholder="adapter name" class="form-control input-xlarge" required="required" ng-model="adapter_name">
                        <p class="help-block">"Virtual" name of the DB adapter
                            service. Examples include "DB\Foo", "db.foo",
                            "FooAdapter"; essentially, a unique name for the adapter
                            that's descriptive of its purpose.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="driver">Driver Type</label>
                    <div class="controls">
                        <select class="form-control input-xlarge" ng-model="driver">
                            <option>IbmDb2</option>
                            <option>Mysqli</option>
                            <option>Oci8</option>
                            <option>Pdo_Mysql</option>
                            <option>Pdo_Oci</option>
                            <option>Pdo_Pgsql</option>
                            <option>Pdo_Sqlite</option>
                            <option>Pgsql</option>
                            <option>Sqlsrv</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="database">Database</label>
                    <div class="controls">
                        <input type="text" placeholder="database name" class="form-control input-xlarge" required="required" ng-model="database">
                        <p class="help-block">Name of database or database file</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="dsn">DSN</label>
                    <div class="controls">
                        <input type="text" placeholder="(Optional) DSN for database" class="form-control input-xlarge" ng-model="dsn">
                        <p class="help-block">DSN for the database; can be used to
                        provide the full database connection specification. Use this if
                        developing for Google App Engine.</p>
                    </div>
                </div>

                <div class="form-group" ng-show="driver && (driver != 'Pdo_Sqlite')">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input type="text" placeholder="(Optional) Username" class="form-control input-xlarge" ng-model="username">
                        <p class="help-block">Username with which to connect</p>
                    </div>
                </div>

                <div class="form-group" ng-show="driver && (driver != 'Pdo_Sqlite')">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="text" placeholder="(Optional) Password" class="form-control input-xlarge" ng-model="password">
                        <p class="help-block">Password with which to connect</p>
                    </div>
                </div>

                <div class="form-group" ng-show="driver && (driver != 'Pdo_Sqlite')">
                    <label class="control-label" for="hostname">Hostname</label>
                    <div class="controls">
                        <input type="text" placeholder="(Optional) Hostname" class="form-control input-xlarge" ng-model="hostname">
                        <p class="help-block">Hostname to which to connect</p>
                    </div>
                </div>

                <div class="form-group" ng-show="driver && (driver != 'Pdo_Sqlite')">
                    <label class="control-label" for="port">Port</label>
                    <div class="controls">
                        <input type="text" placeholder="(Optional) Port" class="form-control input-xlarge" ng-model="port">
                        <p class="help-block">Port to which to connect</p>
                    </div>
                </div>

                <div class="form-group" ng-show="driver && (driver != 'Pdo_Pgsql') && (driver != 'Pgsql')">
                    <label class="control-label" for="charset">Charset</label>
                    <div class="controls">
                        <input type="text" placeholder="(Optional) Charset" class="form-control input-xlarge" ng-model="charset">
                        <p class="help-block">Charset of database</p>
                    </div>
                </div>
            </fieldset>

            <ag-collapse class="panel-default">
                <collapse-header>
                    <h4 class="panel-title">Driver Options</h4>
                </collapse-header>

                <collapse-body>
                    <li
                        class="list-group-item"
                        ng-repeat="(optionKey, optionValue) in driver_options">

                        <div class="form-group">
                            <label>Option:</label>
                            <input type="text" class="form-control input-xlarge" ng-model="optionKey">
                        </div>

                        <div class="form-group">
                            <label>Value:</label>
                            <input type="text" class="form-control input-xlarge" ng-model="optionValue">
                        </div>

                        <div class="btn-group ag-new-input pull-right">
                            <button type="button" class="btn btn-sm btn-danger"
                                ng-click="removeNewDriverOption(driver_options, optionKey)">Remove Option</button>
                        </div>

                        <div class="clearfix"></div>
                    </li>

                    <li class="list-group-item">
                        <div class="form-group">
                            <label>Option:</label>
                            <input type="text" class="form-control input-xlarge" ng-model="newOptionKey">
                        </div>

                        <div class="form-group">
                            <label>Value:</label>
                            <input type="text" class="form-control input-xlarge" ng-model="newOptionValue">
                        </div>

                        <div class="btn-group ag-new-input pull-right">
                            <button type="button" class="btn btn-sm btn-primary"
                                ng-click="addNewDriverOption(driver_options)">Add Option</button>
                        </div>

                        <div class="clearfix"></div>
                    </li>
                </collapse-body>
            </ag-collapse>

            <div class="btn-group pull-right">
                <a ng-click="resetForm()&&(showNewDbAdapterForm = false)" class="btn btn-sm btn-default">Cancel</a>
                <button type="submit" class="btn btn-sm btn-primary">Create DB Adapter</button>
            </div>

            <div class="clearfix"></div>
        </form>
    </div>
</div>

<br clear="left">

