<?php
return [
    'zf-rest' => [
        'AuthConf\V1\Rest\Foo\Controller' => [],
        'AuthConf\V1\Rest\Bar\Controller' => [],
        'AuthConf\V2\Rest\Foo\Controller' => [],
        'AuthConf\V2\Rest\Bar\Controller' => [],
        'AuthConf\V2\Rest\New\Controller' => [],
    ],
    'zf-rpc' => [
        'AuthConf\V1\Rpc\Baz\Controller' => [
            'route_name' => 'auth-conf.rpc.baz',
        ],
        'AuthConf\V1\Rpc\Bat\Controller' => [
            'route_name' => 'auth-conf.rpc.bat',
        ],
        'AuthConf\V2\Rpc\Baz\Controller' => [
            'route_name' => 'auth-conf.rpc.baz',
        ],
        'AuthConf\V2\Rpc\Bat\Controller' => [
            'route_name' => 'auth-conf.rpc.bat',
        ],
        'AuthConf\V2\Rpc\New\Controller' => [
            'route_name' => 'auth-conf.rpc.new',
        ],
    ],
    'router' => [
        'routes' => [
            'auth-conf.rpc.baz' => [
                'type' => 'Segment',
                'options' => [
                    'route' => '/api/baz',
                    'defaults' => [
                        'controller' => 'AuthConf\V1\Rpc\Baz\Controller',
                        'action'     => 'baz',
                    ],
                ],
            ],
            'auth-conf.rpc.bat' => [
                'type' => 'Segment',
                'options' => [
                    'route' => '/api/bat',
                    'defaults' => [
                        'controller' => 'AuthConf\V1\Rpc\Bat\Controller',
                        'action'     => 'bat',
                    ],
                ],
            ],
            'auth-conf.rpc.new' => [
                'type' => 'Segment',
                'options' => [
                    'route' => '/api/new',
                    'defaults' => [
                        'controller' => 'AuthConf\V2\Rpc\New\Controller',
                        'action'     => 'new',
                    ],
                ],
            ],
        ],
    ],
];
