<form class="form-inline" role="form" ag-form>
<div class="panel-body">
  <div class="ag-new-input pull-right">
    <div class="form-group">
      <input type="text" placeholder="View model class" class="form-control input-xlarge" required="required" ng-model="selector.viewModel">
    </div>

    <button type="button" ng-click="addViewModel(selector.viewModel, selector)" class="btn btn-default btn-success" title="Add View Model">
        Add View Model
    </button>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="40%">View Model</th>
      <th>Mediatypes</th>
      <th width="5%">&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="(viewModel, mediaTypes) in selector.selectors">
      <td>{{ viewModel }}</td>

      <td>
        <div class="control-group">
          <tags-input
            custom-class="ag-tags"
            ng-model="mediaTypes"
            add-on-space="true"
            max-length="256"
            allowed-tags-pattern="^[a-zA-Z-]+/[a-zA-Z0-9*_+.-]+$"
            placeholder="Add a mediatype">
          </tags-input>
        </div>
      </td>

      <td>
        <button type="button" class="btn btn-sm btn-danger"
          ng-click="removeViewModel(viewModel, selector)">
          <i class="glyphicon glyphicon-trash"></i>
        </button>
      </td>
    </tr>

    <tr>
      <td colspan="3">
        <div class="btn-group pull-right">
          <button type="button" collapse-flag flags="{editSelector: false}"
              ag-cancel-edit ng-click="resetSelectorForm(selector)" class="btn btn-sm btn-default">Cancel</button>
          <button type="button" ng-click="updateSelector(selector)" class="btn btn-sm btn-success">Update Selector</button>
        </div>

        <div class="clearfix"></div>
      </td>
    </tr>
  </tbody>
</table>
</form>
