<div ng-hide="showNewDbAdapterForm">
  <button ng-click="showNewDbAdapterForm = true" class="btn btn-default btn-primary" title="Create New DB Adapter">
    Create New Authentication Adapter
  </button>
</div>
<div ng-show="showNewDbAdapterForm" class="panel panel-default">
  <div class="panel-heading">Create a Authentication Adapter</div>
  <div class="panel-body">
    <form class="form-horizontal" ng-submit="createNewDbAdapter()">

    </form>
  </div>
</div>

<br clear="left">

<div class="panel-group tooltip-api" id="accordion">

</div>

<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })
</script>
