<div ng-hide="showAuthenticationSetup">
    There is currently NO Authentication, select a method below to setup authentication:<br><br>
    <button ng-click="setupAuthenticationBasic()" class="btn btn-default btn-primary" title="Create New DB Adapter">
        Setup HTTP Basic Authentication
    </button><br><br>
    <button ng-click="setupAuthenticationDigest()" class="btn btn-default btn-primary" title="Create New DB Adapter">
        Setup HTTP Digest Authentication
    </button><br><br>
    <button ng-click="setupAuthenticationOAuth2()" class="btn btn-default btn-primary" title="Create New DB Adapter">
        Setup OAuth2 Authentication
    </button>
</div>