<div ng-hide="showNewDbAdapterForm">
  <button ng-click="showNewDbAdapterForm = true" class="btn btn-default btn-primary" title="Create New DB Adapter">
    Create New DB Adapter
  </button>
</div>
<div ng-show="showNewDbAdapterForm" class="panel panel-default">
  <div class="panel-heading">Create a New DB Adapter</div>
  <div class="panel-body">
    <form class="form-horizontal" ng-submit="createNewDbAdapter()">
        <fieldset>
        <!-- Text input-->
        <div class="control-group">
        <label class="control-label" for="adapterName">Adapter Name</label>
        <div class="controls">
            <input type="text" placeholder="adapter name" class="input-xlarge" required="required" ng-model="adapter_name">
            <p class="help-block">"Virtual" name of the DB adapter service</p>
        </div>
        </div>

        <!-- Select Basic -->
        <div class="control-group">
        <label class="control-label" for="driver">Driver Type</label>
        <div class="controls">
            <select class="input-xlarge" ng-model="driver">
            <option>IbmDb2</option>
            <option>Mysqli</option>
            <option>Oci8</option>
            <option>Pdo_Mysql</option>
            <option>Pdo_Oci</option>
            <option>Pdo_Pgsql</option>
            <option>Pdo_Sqlite</option>
            <option>Pgsql</option>
            <option>Sqlsrv</option>
            </select>
        </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
        <label class="control-label" for="database">Database</label>
        <div class="controls">
            <input type="text" placeholder="database name" class="input-xlarge" required="required" ng-model="database">
            <p class="help-block">Name of database or database file</p>
        </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
            <input type="text" placeholder="(optional) Username" class="input-xlarge" ng-model="username">
            <p class="help-block">Username with which to connect</p>
        </div>
        </div>

        <!-- Password input-->
        <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input type="password" placeholder="(Optional) Password" class="input-xlarge" ng-model="password">
            <p class="help-block">Password with which to connect</p>
        </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
        <label class="control-label" for="hostname">Hostname</label>
        <div class="controls">
            <input type="text" placeholder="(Optional) Hostname" class="input-xlarge" ng-model="hostname">
            <p class="help-block">Hostname to which to connect</p>
        </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
        <label class="control-label" for="port">Port</label>
        <div class="controls">
            <input type="text" placeholder="(Optional) Port" class="input-xlarge" ng-model="port">
            <p class="help-block">Port to which to connect</p>
        </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
        <label class="control-label" for="charset">Charset</label>
        <div class="controls">
            <input type="text" placeholder="(Optional) Charset" class="input-xlarge" ng-model="charset">
            <p class="help-block">Charset of database</p>
        </div>
        </div>
        </fieldset>
        <button type="submit" class="btn btn-sm btn-success">Create DB Adapter</button>
        <button ng-click="resetForm()" type="button" class="btn btn-sm btn-warning">Cancel</button>
    </form>
  </div>
</div>

<br clear="left">

<div class="ag panel-group tooltip-api" id="accordion">
  <div class="panel panel-default" ng-repeat="dbAdapter in dbAdapters">
    <div 
      class="panel-heading accordion-toggle"
      data-toggle="collapse"
      data-parent="#accordion"
      data-target="#collapse{{$index}}"
      ng-mouseover="showRemoveButton = true"
      ng-mouseleave="showRemoveButton = false">
      <h4 class="panel-title">
        <font color="gray" size="-1">DB Adapter</font>

        {{ dbAdapter.adapter_name }}

        <div ng-hide="!showRemoveButton||deleteDbAdapter" class="pull-right">
          <button ng-click="deleteDbAdapter = true" id="remove-adapter" class="btn btn-sm btn-danger" content="#remove-adapter-form" title="Remove adapter">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>

        <div ng-show="deleteDbAdapter" id="remove-adapter-form" class="panel panel-danger">
          <div class="panel-heading">Remove DB Adapter</div>
          <div class="panel-body">
            <form ng-submit="removeDbAdapter(dbAdapter.adapter_name)">
              <p>Are you sure you want to delete the Adapter</p>
              <button type="submit" class="btn btn-sm btn-danger pull-right">Yes</button>
              <a ng-click="deleteDbAdapter = false" class="pull-right btn btn-sm">Cancel</a>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </h4>
      <div class="clearfix"></div>
    </div>

    <div id="collapse{{$index}}" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="nav nav-tabs" id="myTab{{$index}}">
          <li class="active"><a data-target="#viewmode{{$index}}" data-toggle="tab">View</a></li>
          <li><a data-target="#editmode{{$index}}" data-toggle="tab">Edit</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="viewmode{{$index}}">
            <table class="table table-striped">
              <tr>
                <td>Driver</td>
                <td>{{ dbAdapter.driver }}</td>
              </tr>
              <tr>
                <td>Database</td>
                <td>{{ dbAdapter.database }}</td>
              </tr>
              <tr>
                <td>Username</td>
                <td>{{ dbAdapter.username }}</td>
              </tr>
              <tr>
                <td>Password</td>
                <td>{{ dbAdapter.password }}</td>
              </tr>
              <tr>
                <td>Hostname</td>
                <td>{{ dbAdapter.hostname }}</td>
              </tr>
              <tr>
                <td>Port</td>
                <td>{{ dbAdapter.port }}</td>
              </tr>
              <tr>
                <td>Charset</td>
                <td>{{ dbAdapter.charset }}</td>
              </tr>
            </table>

          </div>
          <div class="tab-pane" id="editmode{{$index}}">

            <form class="form-horizontal" ng-submit="saveDbAdapter($index)">
              <fieldset>
                <!-- Text input-->
                <div class="control-group">
                <label class="control-label" for="adapterName">Adapter Name</label>
                <div class="controls">
                    <input type="text" placeholder="adapter name" class="input-xlarge" required="required" ng-model="dbAdapter.adapter_name">
                    <p class="help-block">"Virtual" name of the DB adapter service</p>
                </div>
                </div>

                <!-- Select Basic -->
                <div class="control-group">
                <label class="control-label" for="driver">Driver Type</label>
                <div class="controls">
                    <select class="input-xlarge" ng-model="dbAdapter.driver">
                    <option>IbmDb2</option>
                    <option>Mysqli</option>
                    <option>Oci8</option>
                    <option>Pdo_Mysql</option>
                    <option>Pdo_Oci</option>
                    <option>Pdo_Pgsql</option>
                    <option>Pdo_Sqlite</option>
                    <option>Pgsql</option>
                    <option>Sqlsrv</option>
                    </select>
                </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                <label class="control-label" for="database">Database</label>
                <div class="controls">
                    <input type="text" placeholder="database name" class="input-xlarge" required="required" ng-model="dbAdapter.database">
                    <p class="help-block">Name of database or database file</p>
                </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" placeholder="(optional) Username" class="input-xlarge" ng-model="dbAdapter.username">
                    <p class="help-block">Username with which to connect</p>
                </div>
                </div>

                <!-- Password input-->
                <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" placeholder="(Optional) Password" class="input-xlarge" ng-model="dbAdapter.password">
                    <p class="help-block">Password with which to connect</p>
                </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                <label class="control-label" for="hostname">Hostname</label>
                <div class="controls">
                    <input type="text" placeholder="(Optional) Hostname" class="input-xlarge" ng-model="dbAdapter.hostname">
                    <p class="help-block">Hostname to which to connect</p>
                </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                <label class="control-label" for="port">Port</label>
                <div class="controls">
                    <input type="text" placeholder="(Optional) Port" class="input-xlarge" ng-model="dbAdapter.port">
                    <p class="help-block">Port to which to connect</p>
                </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                <label class="control-label" for="charset">Charset</label>
                <div class="controls">
                    <input type="text" placeholder="(Optional) Charset" class="input-xlarge" ng-model="dbAdapter.charset">
                    <p class="help-block">Charset of database</p>
                </div>
                </div>
              </fieldset>
              <button type="submit" class="btn btn-sm btn-success pull-right"
                  ng-click="saveDbAdapter($index)">Save</button><br />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })
</script>
