<div class="wizard">
    <a><span class="badge">1</span>Setup</a>
    <a class="current"><span class="current badge badge-inverse">2</span>Db/Code API</a>
	 <a><span class="badge">3</span>Resources</a>
    <a><span class="badge">4</span>Authentication</a>
    <a><span class="badge">5</span>Filter & Validation</a>
	 <a><span class="badge">6</span>Package</a>
</div>

<div class="well">
    <form class="form-horizontal" ng-submit="step2()">
    <fieldset>

    <!-- Form Name -->
    <legend>Database/Code connected API
		<!-- Configuration -->
		<div style="font-size:13px;float:right">
	    <a href="#myConfiguration" ng-click="loadConfiguration()" class="btn btn-primary btn-lg" data-toggle="modal"><span class="glyphicon glyphicon-wrench"></span> Configuration</a>
		</div>
    </legend>

	  <!-- Modal window (configuration) -->
     <div class="modal fade" id="myConfiguration">
	 <div class="modal-dialog">
	    <div class="modal-content">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h2 class="modal-title">Configuration</h2>
		</div>
		<div class="modal-body">
		    <div
				data-angular-treeview="true"
				data-tree-model="tree"
				data-node-id="id"
				data-node-label="name"
				data-node-children="child"
				data-node-icon="icon" >
			    </div>
		</div>
		<div class="modal-footer">
		    <button class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	    </div>
	</div>
     </div>

    <div style="float:left;width: 50%">
    <!-- Select Basic -->
    <div class="control-group">
      <label class="control-label" for="selectbasic">Driver</label>
      <div class="controls">
	<select id="selectbasic" name="selectbasic" class="input-xlarge">
	  <option>Mysqli</option>
	  <option>PDO: Mysql</option>
	  <option>PDO: Postgres</option>
	  <option>...</option>
	</select>
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Database / Schema</label>
      <div class="controls">
	<input id="textinput" name="textinput" placeholder="Database / Schema" class="input-xlarge" required="" type="text">

      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Username</label>
      <div class="controls">
	<input id="textinput" name="textinput" placeholder="(optional)" class="input-xlarge" required="" type="text">

      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Password</label>
      <div class="controls">
	<input id="textinput" name="textinput" placeholder="(optional)" class="input-xlarge" type="text">

      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Hostname</label>
      <div class="controls">
	<input id="textinput" name="textinput" placeholder="(optional)" class="input-xlarge" type="text">

      </div>
    </div>

    <!-- Button -->
    <div class="control-group">
      <label class="control-label" for="singlebutton"></label>
      <div class="controls">
	<button id="singlebutton" name="singlebutton" class="btn btn-primary">Setup Database</button>
      </div>
    </div>

    </div>

    <div style="float:right; width:50%">
   <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Code Connected API Module Name</label>
      <div class="controls">
	<input id="textinput" name="textinput" placeholder="CamelCaseModule" class="input-xlarge" required="" type="text">
	<p class="help-block">This name should be consistent as a ZF module name</p>
      </div>
    </div>

    <!-- Button -->
    <div class="control-group">
      <label class="control-label" for="singlebutton"></label>
      <div class="controls">
	<button id="singlebutton" name="singlebutton" class="btn btn-primary">Generate Code Connected API Module</button>
      </div>
    </div>
    </div>

    <br clear="left" />
	<!-- Previous & Next -->
    <div class="control-group">
      <div class="controls" style="float:right;margin-top:30px">
	<a href="#/" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Previous</a>
	<button id="singlebutton" name="singlebutton" class="btn btn-primary">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
    </div>
    </fieldset>
    </form>
</div>
