<h2>Authentication</h2>

<div ng-show="showAuthenticationSetup()">
    <p>
        There is currently NO Authentication. Select <b>ONE</b> of the
        authentication methods below for your application:
    </p>
    
    <div class="btn-group">
        <button ng-click="showHttpBasicAuthenticationForm = true" class="btn btn-sm btn-primary" title="HTTP Basic">
            HTTP Basic
        </button>

        <button ng-click="showHttpDigestAuthenticationForm = true" class="btn btn-sm btn-primary" title="HTTP Digest">
            HTTP Digest
        </button>

        <button ng-click="showOAuth2AuthenticationForm = true" class="btn btn-sm btn-primary" title="OAuth2">
            OAuth2
        </button>
    </div>
</div>

<div ng-show="showHttpBasicAuthenticationForm" class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Setup HTTP Basic Authentication</h4>
    </div>

    <div class="panel-body">
        <form class="form" ng-submit="createHttpBasicAuthentication()">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="realm">Authentication Realm</label>
                    <input type="text" placeholder="api" class="form-control input-xlarge" required="required" ng-model="realm">
                    <p class="help-block">The Authentication Realm for the HTTP Basic Authentication</p>
                </div>

                <div class="control-group">
                    <label class="control-label" for="htpasswd">Location of htpasswd file</label>
                    <input type="text" placeholder="data/htpasswd" class="form-control input-xlarge" required="required" ng-model="htpasswd">
                    <p class="help-block">Location on the filesystem of the htpasswd file</p>
                </div>
            </fieldset>

            <div class="btn-group pull-right">
                <button class="btn btn-sm btn-default" type="button" ng-click="resetForm()">Cancel</button>
                <button class="btn btn-sm btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

<div ng-show="showHttpBasicAuthentication">
<collapse class="panel panel-info"
    conditionals="{edit: false, delete: false}">
    <collapse-header>
        <h4 class="panel-title">
            <span class="btn btn-sm glyphicon glyphicon-lock"></span>

            HTTP Basic Settings

            <div class="btn-group pull-right">
                <button
                    type="button" title="Cancel" class="btn btn-sm btn-default"
                    collapse-flag flags="{edit: false}" 
                    collapse-button criteria="{delete: false, edit: true}">
                    Cancel
                </button>

                <button 
                    type="button" class="btn btn-sm btn-success" title="Edit settings"
                    collapse-flag flags="{edit: true}"
                    collapse-button criteria="{delete: false, edit: false}">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>

                <button type="button" class="btn btn-sm btn-danger" title="Remove Authentication"
                    collapse-flag flags="{delete: true}"
                    collapse-button criteria="{delete: false}">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </h4>

        <div class="clearfix"></div>

        <div collapse-show criteria="{delete: true}" class="panel panel-danger hide">
            <div class="panel-heading"><h4 class="panel-title">Remove Authentication</h4></div>
            <div class="panel-body">
                <form ng-submit="removeAuthentication()">
                    <p>Are you sure you want to remove authentication?</p>

                    <div class="btn-group pull-right">
                        <button collapse-flag flags="{delete: false}" type="button" class="btn btn-sm btn-default">Cancel</button>
                        <button type="submit" class="btn btn-sm btn-danger">Yes</button>
                    </div>
                </form>
            </div>
        </div>
    </collapse-header>

    <table collapse-show criteria="{edit: false}" class="table table-striped">
        <tr>
            <td>Realm</td>
            <td>{{httpBasic.realm}}</td>
        </tr>

        <tr>
            <td>htpasswd Location</td>
            <td>{{httpBasic.htpasswd}}</td>
        </tr>
    </table>

    <collapse-body collapse-show criteria="{edit: true}">
        <div class="panel-body"><form class="form" ng-submit="updateHttpBasicAuthentication()">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="realm">Authentication Realm</label>
                    <input type="text" placeholder="api" class="form-control input-xlarge" required="required" ng-model="httpBasic.realm">
                    <p class="help-block">The Authentication Realm for the HTTP Basic Authentication</p>
                </div>

                <div class="control-group">
                    <label class="control-label" for="htpasswd">Location of htpasswd file</label>
                    <input type="text" placeholder="data/htpasswd" class="form-control input-xlarge" required="required" ng-model="httpBasic.htpasswd">
                    <p class="help-block">Location on the filesystem of the htpasswd file</p>
                </div>
            </fieldset>

            <div class="btn-group pull-right">
                <button
                    type="button" title="Cancel" class="btn btn-sm btn-default"
                    collapse-flag flags="{edit: false}">Cancel</button>
                <button type="button" title="Save" class="btn btn-sm btn-success"
                    ng-click="updateHttpBasicAuthentication()">Save</button>
            </div>

            <div class="clearfix"></div>
        </form></div>
    </collapse-body>
</collapse>
</div>

<div ng-show="showHttpDigestAuthenticationForm" class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Setup HTTP Digest Authentication</h4>
    </div>

    <div class="panel-body">
        <form class="form" ng-submit="createHttpDigestAuthentication()">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="realm">Realm</label>
                    <input type="text" placeholder="api" class="form-control input-xlarge" required="required" ng-model="realm">
                    <p class="help-block">HTTP authentication realm</p>
                </div>

                <div class="control-group">
                    <label class="control-label" for="htdigest">Location of htdigest file</label>
                    <input type="text" placeholder="data/htdigest"
                        class="form-control input-xlarge" required="required" ng-model="htdigest">
                    <p class="help-block">Location on the filesystem of the htdigest file</p>
                </div>

                <div class="control-group">
                    <label class="control-label" for="digest_domains">Digest domains</label>
                    <tags-input 
                        ng-class="form-control"
                        ng-model="digest_domains"
                        add-on-space="true"
                        min-length="1"
                        max-length="256"
                        allowed-tags-pattern="^/[a-zA-Z0-9_+./%-]*$"
                        placeholder="Add a path">
                    </tags-input>
                    <p class="help-block">Space-separated list of URI paths for which authentication will be applied</p>
                </div>

                <div class="control-group">
                    <label class="control-label" for="nonce_timeout">Nonce timeout</label>
                    <input type="text" placeholder="3600" class="form-control input-xlarge" required="required" ng-model="nonce_timeout">
                    <p class="help-block">Expiration in seconds for inactive authentication</p>
                </div>
            </fieldset>

            <div class="btn-group pull-right">
                <button class="btn btn-sm btn-default" type="button" ng-click="resetForm()">Cancel</button>
                <button class="btn btn-sm btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

<div ng-show="showHttpDigestAuthentication" class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <font color="gray" size="-1">HTTP Digest Authentication</font>
      <div ng-hide="removeAuthenticationForm" class="pull-right">
        <button ng-click="removeAuthenticationForm = true" class="btn btn-link"
          id="remove-authentication" content="#remove-authentication-form"
          title="Remove Authentication">
          <span class="glyphicon glyphicon-trash"></span> Remove
        </button>
      </div>
      <div ng-show="removeAuthenticationForm" id="remove-authentication-form" class="panel panel-default">
        <div class="panel-heading">Remove Authentication</div>
        <div class="panel-body">
          <form ng-submit="removeAuthentication()">
            <p>Are you sure you want to remove authentication?</p>
            <button ng-click="removeAuthentication()" type="submit" class="btn btn-sm btn-success">Yes</button>
            <button ng-click="removeAuthenticationForm = false" type="button" class="btn btn-sm btn-default">No</button>
          </form>
        </div>
      </div>
    </h4>
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs" id="AuthHttpDigestTab">
      <li class="active"><a data-target="#viewmodeAuthHttpDigestTab" data-toggle="tab">View</a></li>
      <li><a data-target="#editmodeAuthHttpDigestTab" data-toggle="tab">Edit</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="viewmodeAuthHttpDigestTab">
        <table class="table table-striped">
          <tr>
            <td>Realm</td>
            <td>{{httpDigest.realm}}</td>
          </tr>
          <tr>
            <td>htdigest Location</td>
            <td>{{httpDigest.htdigest}}</td>
          </tr>
          <tr>
            <td>Digest Domains</td>
            <td>
              <p ng-repeat="domain in httpDigest.digest_domains">{{domain}}</p>
            </td>
          </tr>
          <tr>
            <td>Nonce Timeout</td>
            <td>{{httpDigest.nonce_timeout}}</td>
          </tr>
        </table>
      </div>

      <div class="tab-pane" id="editmodeAuthHttpDigestTab">
        <form class="form-horizontal" ng-submit="updateHttpDigestAuthentication()">
          <fieldset>
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="realm">Realm</label>
              <div class="controls">
                <input type="text" placeholder="api" class="input-xlarge" required="required" ng-model="httpDigest.realm">
                <p class="help-block">HTTP authentication realm</p>
              </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="htdigest">Location of htdigest file</label>
              <div class="controls">
                <input type="text" placeholder="data/htdigest" class="input-xlarge" required="required" ng-model="httpDigest.htdigest">
                <p class="help-block">Location on the filesystem of the htdigest file</p>
              </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="digest_domains">Digest domains</label>
              <div class="controls">
                <tags-input 
                  ng-class="form-control"
                  ng-model="httpDigest.digest_domains"
                  add-on-space="true"
                  min-length="1"
                  max-length="256"
                  allowed-tags-pattern="^/[a-zA-Z0-9_+./%-]*$"
                  placeholder="Add a path">
                </tags-input>
                <p class="help-block">Space-separated list of URI paths for which authentication will be applied</p>
              </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="nonce_timeout">Nonce timeout</label>
              <div class="controls">
                <input type="text" placeholder="3600" class="input-xlarge" required="required" ng-model="httpDigest.nonce_timeout">
                <p class="help-block">Expiration in seconds for inactive authentication</p>
              </div>
            </div>
          </fieldset>

          <button class="btn btn-sm btn-success" type="submit"
            ng-click="updateHttpDigestAuthentication()">Save</button><br />
        </form>
      </div>
    </div>
  </div>
</div>

<div ng-show="showOAuth2AuthenticationForm" class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Setup OAuth2 Authentication</h4>
    </div>

    <div class="panel-body">
        <form class="form" ng-submit="createOAuth2Authentication()">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="dsn">PDO DSN</label>
                    <input type="text" placeholder="sqlite::memory:" class="form-control input-xlarge" required="required" ng-model="dsn">
                    <p class="help-block">The PDO database source name (DSN).</p>
                </div>

                <div class="control-group">
                    <label class="control-label" for="username">PDO Username</label>
                    <input type="text" placeholder="username" class="form-control input-xlarge" ng-model="username">
                    <p class="help-block">Username associated with the database holding
                        OAuth2 credentials (required if not using SQLite).</p>
                </div>

                <div class="control-group">
                    <label class="control-label" for="password">PDO Password</label>
                    <input type="password" placeholder="password" class="form-control input-xlarge" ng-model="password">
                    <p class="help-block">Password for the username listed (required if not using SQLite).</p>
                </div>

                <div class="control-group">
                    <label class="control-label" for="route_match">OAuth2 route</label>
                    <input type="text" placeholder="/oauth" class="form-control input-xlarge" ng-model="route_match">
                    <p class="help-block">Base URI to use as the OAuth2 server endpoint.</p>
                </div>
            </fieldset>

            <div class="btn-group pull-right">
                <button class="btn btn-sm btn-default" type="button" ng-click="resetForm()">Cancel</button>
                <button class="btn btn-sm btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

<div ng-show="showOAuth2Authentication" class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <font color="gray" size="-1">OAuth2 Authentication</font>
      <div ng-hide="removeAuthenticationForm" class="pull-right">
        <button ng-click="removeAuthenticationForm = true" class="btn btn-link"
          id="remove-authentication" content="#remove-authentication-form"
          title="Remove Authentication">
          <span class="glyphicon glyphicon-trash"></span> Remove
        </button>
      </div>
      <div ng-show="removeAuthenticationForm" id="remove-authentication-form" class="panel panel-default">
        <div class="panel-heading">Remove Authentication</div>
        <div class="panel-body">
          <form ng-submit="removeAuthentication()">
            <p>Are you sure you want to remove authentication?</p>
            <button ng-click="removeAuthentication()" type="submit" class="btn btn-sm btn-success">Yes</button>
            <button ng-click="removeAuthenticationForm = false" type="button" class="btn btn-sm btn-default">No</button>
          </form>
        </div>
      </div>
    </h4>
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs" id="OAuth2BasicTab">
      <li class="active"><a data-target="#viewmodeOAuth2BasicTab" data-toggle="tab">View</a></li>
      <li><a data-target="#editmodeOAuth2BasicTab" data-toggle="tab">Edit</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="viewmodeOAuth2BasicTab">
        <table class="table table-striped">
          <tr>
            <td>PDO DSN</td>
            <td>{{oauth2.dsn}}</td>
          </tr>
          <tr>
            <td>Database username</td>
            <td>{{oauth2.username}}</td>
          </tr>
          <tr>
            <td>OAuth2 route</td>
            <td>{{oauth2.route_match}}</td>
          </tr>
        </table>
      </div>

      <div class="tab-pane" id="editmodeOAuth2BasicTab">
        <form class="form-horizontal" ng-submit="updateOAuth2Authentication()">
          <fieldset>
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="dsn">PDO DSN</label>
              <div class="controls">
                <input type="text" placeholder="sqlite::memory:" class="input-xlarge" required="required" ng-model="oauth2.dsn">
                <p class="help-block">The PDO database source name (DSN).</p>
              </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="username">PDO Username</label>
              <div class="controls">
                <input type="text" placeholder="username" class="input-xlarge" ng-model="oauth2.username">
                <p class="help-block">Username associated with the database holding
                OAuth2 credentials (required if not using SQLite).</p>
              </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="password">PDO Password</label>
              <div class="controls">
                <input type="password" placeholder="password" class="input-xlarge" ng-model="oauth2.password">
                <p class="help-block">Password for the username listed (required if not using SQLite).</p>
              </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="route_match">OAuth2 route</label>
              <div class="controls">
                <input type="text" placeholder="/oauth" class="input-xlarge" ng-model="oauth2.route_match">
                <p class="help-block">Base URI to use as the OAuth2 server endpoint.</p>
              </div>
            </div>
          </fieldset>

          <button class="btn btn-sm btn-success" type="submit"
            ng-click="updateOAuth2Authentication()">Save</button><br />
        </form>
      </div>
    </div>
  </div>
</div>
