<h2>Authentication</h2>

<div ng-show="showAuthenticationSetup()">
    <p>
        There is currently NO Authentication. Select <b>ONE</b> of the
        authentication methods below for your application:
    </p>
    
    <div class="btn-group">
        <button ng-click="showHttpBasicAuthenticationForm = true" class="btn btn-sm btn-primary" title="HTTP Basic">
            HTTP Basic
        </button>

        <button ng-click="showHttpDigestAuthenticationForm = true" class="btn btn-sm btn-primary" title="HTTP Digest">
            HTTP Digest
        </button>

        <button ng-click="showOAuth2AuthenticationForm = true" class="btn btn-sm btn-primary" title="OAuth2">
            OAuth2
        </button>
    </div>
</div>

<div ng-show="showHttpBasicAuthenticationForm">
    <ag-include src="zf-apigility-admin/partials/global/authentication/new-http-basic.html"></ag-include>
</div>

<div ng-show="showHttpBasicAuthentication">
    <ag-include src="zf-apigility-admin/partials/global/authentication/http-basic.html"></ag-include>
</div>

<div ng-show="showHttpDigestAuthenticationForm">
    <ag-include src="zf-apigility-admin/partials/global/authentication/new-http-digest.html"></ag-include>
</div>

<div ng-show="showHttpDigestAuthentication">
    <ag-include src="zf-apigility-admin/partials/global/authentication/http-digest.html"></ag-include>
</div>

<div ng-show="showOAuth2AuthenticationForm" class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Setup OAuth2 Authentication</h4>
    </div>

    <div class="panel-body">
        <form class="form" ng-submit="createOAuth2Authentication()">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="dsn">PDO DSN</label>
                    <input type="text" placeholder="sqlite::memory:" class="form-control input-xlarge" required="required" ng-model="dsn">
                    <p class="help-block">The PDO database source name (DSN).</p>
                </div>

                <div class="control-group">
                    <label class="control-label" for="username">PDO Username</label>
                    <input type="text" placeholder="username" class="form-control input-xlarge" ng-model="username">
                    <p class="help-block">Username associated with the database holding
                        OAuth2 credentials (required if not using SQLite).</p>
                </div>

                <div class="control-group">
                    <label class="control-label" for="password">PDO Password</label>
                    <input type="password" placeholder="password" class="form-control input-xlarge" ng-model="password">
                    <p class="help-block">Password for the username listed (required if not using SQLite).</p>
                </div>

                <div class="control-group">
                    <label class="control-label" for="route_match">OAuth2 route</label>
                    <input type="text" placeholder="/oauth" class="form-control input-xlarge" ng-model="route_match">
                    <p class="help-block">Base URI to use as the OAuth2 server endpoint.</p>
                </div>
            </fieldset>

            <div class="btn-group pull-right">
                <button class="btn btn-sm btn-default" type="button" ng-click="resetForm()">Cancel</button>
                <button class="btn btn-sm btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

<div ng-show="showOAuth2Authentication" class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <font color="gray" size="-1">OAuth2 Authentication</font>
      <div ng-hide="removeAuthenticationForm" class="pull-right">
        <button ng-click="removeAuthenticationForm = true" class="btn btn-link"
          id="remove-authentication" content="#remove-authentication-form"
          title="Remove Authentication">
          <span class="glyphicon glyphicon-trash"></span> Remove
        </button>
      </div>
      <div ng-show="removeAuthenticationForm" id="remove-authentication-form" class="panel panel-default">
        <div class="panel-heading">Remove Authentication</div>
        <div class="panel-body">
          <form ng-submit="removeAuthentication()">
            <p>Are you sure you want to remove authentication?</p>
            <button ng-click="removeAuthentication()" type="submit" class="btn btn-sm btn-success">Yes</button>
            <button ng-click="removeAuthenticationForm = false" type="button" class="btn btn-sm btn-default">No</button>
          </form>
        </div>
      </div>
    </h4>
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs" id="OAuth2BasicTab">
      <li class="active"><a data-target="#viewmodeOAuth2BasicTab" data-toggle="tab">View</a></li>
      <li><a data-target="#editmodeOAuth2BasicTab" data-toggle="tab">Edit</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="viewmodeOAuth2BasicTab">
        <table class="table table-striped">
          <tr>
            <td>PDO DSN</td>
            <td>{{oauth2.dsn}}</td>
          </tr>
          <tr>
            <td>Database username</td>
            <td>{{oauth2.username}}</td>
          </tr>
          <tr>
            <td>OAuth2 route</td>
            <td>{{oauth2.route_match}}</td>
          </tr>
        </table>
      </div>

      <div class="tab-pane" id="editmodeOAuth2BasicTab">
        <form class="form-horizontal" ng-submit="updateOAuth2Authentication()">
          <fieldset>
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="dsn">PDO DSN</label>
              <div class="controls">
                <input type="text" placeholder="sqlite::memory:" class="input-xlarge" required="required" ng-model="oauth2.dsn">
                <p class="help-block">The PDO database source name (DSN).</p>
              </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="username">PDO Username</label>
              <div class="controls">
                <input type="text" placeholder="username" class="input-xlarge" ng-model="oauth2.username">
                <p class="help-block">Username associated with the database holding
                OAuth2 credentials (required if not using SQLite).</p>
              </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="password">PDO Password</label>
              <div class="controls">
                <input type="password" placeholder="password" class="input-xlarge" ng-model="oauth2.password">
                <p class="help-block">Password for the username listed (required if not using SQLite).</p>
              </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="route_match">OAuth2 route</label>
              <div class="controls">
                <input type="text" placeholder="/oauth" class="input-xlarge" ng-model="oauth2.route_match">
                <p class="help-block">Base URI to use as the OAuth2 server endpoint.</p>
              </div>
            </div>
          </fieldset>

          <button class="btn btn-sm btn-success" type="submit"
            ng-click="updateOAuth2Authentication()">Save</button><br />
        </form>
      </div>
    </div>
  </div>
</div>
