<table name="table" collapse-show criteria="{editDbAdapter: false}" class="table table-striped">
    <tr>
        <td>Driver</td>
        <td>{{ dbAdapter.driver }}</td>
    </tr>
    <tr>
        <td>Database</td>
        <td>{{ dbAdapter.database }}</td>
    </tr>
    <tr>
        <td>Username</td>
        <td>{{ dbAdapter.username }}</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>{{ dbAdapter.password }}</td>
    </tr>
    <tr>
        <td>Hostname</td>
        <td>{{ dbAdapter.hostname }}</td>
    </tr>
    <tr>
        <td>Port</td>
        <td>{{ dbAdapter.port }}</td>
    </tr>
    <tr>
        <td>Charset</td>
        <td>{{ dbAdapter.charset }}</td>
    </tr>
</table>

