<?php
return [
    'zf-rest' => [
        'AuthConfDefaults\V1\Rest\Foo\Controller' => [],
        'AuthConfDefaults\V1\Rest\Bar\Controller' => [],
    ],
    'zf-rpc' => [
        'AuthConfDefaults\V1\Rpc\Baz\Controller' => [
            'route_name' => 'auth-conf.rpc.baz',
        ],
        'AuthConfDefaults\V1\Rpc\Bat\Controller' => [
        ],
    ],
    'router' => [
        'routes' => [
            'auth-conf.rpc.baz' => [
                'type' => 'Segment',
                'options' => [
                    'route' => '/api/baz',
                    'defaults' => [
                        'controller' => 'AuthConfDefaults\V1\Rpc\Baz\Controller',
                        'action'     => 'baz',
                    ],
                ],
            ],
        ],
    ],
];
