<aside class="ag-sidebar" role="complementary">
  <div ng-show="!$root.routeParams.apiName">
    <ul class="nav ag-sidenav">
      <li ng-class="{active: ($root.routeParams.section == 'general-information')}"><a ng-href="#/global/information">General Information</a></li>
      <li ng-class="{active: ($root.routeParams.section == 'db-adapters')}"><a ng-href="#/global/db-adapters">Database Adapters</a></li>
    </ul>
  </div>
  <div ng-show="$root.routeParams.apiName">
    <ul class="nav ag-sidenav">
      <li ng-class="{active: ($root.routeParams.section == 'info')}"><a ng-href="#/api/{{ $root.routeParams.apiName }}/info">General Information</a></li>
      <li ng-class="{active: ($root.routeParams.section == 'rest-services')}"><a ng-href="#/api/{{ $root.routeParams.apiName }}/rest-services">REST Services</a></li>
      <li ng-class="{active: ($root.routeParams.section == 'rpc-services')}"><a ng-href="#/api/{{ $root.routeParams.apiName }}/rpc-services">RPC Services</a></li>
    </ul>
    <div class="panel panel-default">
      <div class="panel-heading text-center">Current Version: {{ currentVersion }}</div>
      <div class="panel-body text-center">
        <select ng-change="switchApiVersion()" ng-model="currentVersion" ng-options="version for version in $root.currentApi.version.all"></select>
        <hr>
        <button class="btn btn-primary btn-sm" ng-click="createNewApiVersion()">Create New Version</button>
      </div>
    </div>
  </div>
</aside>
