<div class="modal-header"><h4 class="modal-title">Create New API</h4></div>

<div class="modal-body">
    <form class="form" ng-submit="createNewApi($event)" ag-form>
        <fieldset>
            <div class="form-group">
                <input type="text" class="form-control input-xlarge" ng-model="apiName" placeholder="API Name ..." required="">
            </div>
        </fieldset>

        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default" ng-click="cancel()">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary">Create API</button>
        </div>

        <div class="clearfix"></div>
    </form>
</div>

