<?php
return [
    'zf-mvc-auth' => [
        'authentication' => [
            'map' => [
                'Status\V1' => 'testbasic',
                'Status\V2' => 'testdigest',
                'Ping'      => 'testbasic',
            ],
        ],
    ],
    'router' => [
        'routes' => [
            'oauth' => [
                'type' => 'regex',
                'options' => [
                    'regex' => '(?P<oauth>(/oauth2pdo|/oauth2mongo))',
                    'spec' => '%oauth%',
                ],
            ],
        ],
    ],
];
